<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width"/>
        <title>A Day at the Museum</title>
    </head>
    <body>
        <center>
            <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
                <tr>
                    <td align="center" valign="top" id="bodyCell">
                        <!-- EMAIL CONTAINER // -->
                        <!--
                            The table "emailBody" is the email's container.
                            Its width can be set to 100% for a color band
                            that spans the width of the page.
                        -->
                        <table border="0" cellpadding="0" cellspacing="0" width="600" height="800" id="emailBody">


                            <!-- MODULE ROW // -->
                            <!--
                                To move or duplicate any of the design patterns
                                in this email, simply move or copy the entire
                                MODULE ROW section for each content block.
                            -->
                            <tr>
                                <td align="center" valign="top">
                                    <!-- CENTERING TABLE // -->
                                    <!--
                                        The centering table keeps the content
                                        tables centered in the emailBody table,
                                        in case its width is set to 100%.
                                    -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td align="center" valign="top">
                                                <!-- FLEXIBLE CONTAINER // -->
                                                <!--
                                                    The flexible container has a set width
                                                    that gets overridden by the media query.
                                                    Most content tables within can then be
                                                    given 100% widths.
                                                -->
                                                <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                                                    <tr>
                                                        <td align="center" valign="top" width="600" class="flexibleContainerCell">


                                                            <!-- CONTENT TABLE // -->
                                                            <!--
                                                                The content table is the first element
                                                                that's entirely separate from the structural
                                                                framework of the email.
                                                            -->
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tr>
                                                                    <td valign="top" class="textContent" id="topBanner">
                                                                        <h3>Greetings from the museum!</h3>
                                                                        <br />
                                                                     A Day at the Museum provides an opportunity for museum visitors to create their personal museum memories. Here are your favorites from today. We hope you enjoyed your visit. See you again soon. 
                                                                    </td>
                                                                    <td valign="top" class="textContent" id="topBannerRight">
                                                                        <h3>Museum of Modern Art 05.13.15</h3>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <!-- // CONTENT TABLE -->


                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- // FLEXIBLE CONTAINER -->
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // CENTERING TABLE -->
                                </td>
                            </tr>
                            <!-- // MODULE ROW -->


                            <!-- MODULE ROW // -->
                            <tr>
                                <td align="center" valign="top">
                                    <!-- CENTERING TABLE // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td align="center" valign="top">
                                                <!-- FLEXIBLE CONTAINER // -->
                                                <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                                                    <tr>
                                                        <td valign="top" width="600" class="flexibleContainerCell">


                                                            <!-- CONTENT TABLE // -->
                                                            <!--
                                                                In multi-column content blocks, the
                                                                content tables are given set widths
                                                                and the flexibleContainer class.
                                                            -->
                                                            <table align="Left" border="0" cellpadding="0" cellspacing="0" width="384" height="186" class="flexibleContainer" >
                                                                <tr>
                                                                    <td valign="top" class="textContent noBGColor">
                                                                        <img src="http://museum.leslielin.us/image/EMAILDESIGN.jpg">
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <!-- // CONTENT TABLE -->


                                                            <!-- CONTENT TABLE // -->
                                                            <table align="Right" border="0" cellpadding="0" cellspacing="0" width="186" height="186"class="flexibleContainer">
                                                                <tr>
                                                                    <td valign="top" class="textContentLast">
                                                                        <img src="{{emailData.selection1.url}}">
                                                                        <div class="caption-holder">
                                                                            <h3>{{emailData.selection1.name}}</h3>
                                                                            <p>{{emailData.selection1.artist}}</p>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <!-- // CONTENT TABLE -->


                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- // FLEXIBLE CONTAINER -->
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // CENTERING TABLE -->
                                </td>
                            </tr>
                            <!-- // MODULE ROW -->

                            <!-- MODULE ROW // -->
                            <tr>
                                <td align="center" valign="top">
                                    <!-- CENTERING TABLE // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td align="center" valign="top">
                                                <!-- FLEXIBLE CONTAINER // -->
                                                <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                                                    <tr>
                                                        <td valign="top" width="600" class="flexibleContainerCell">


                                                            <!-- CONTENT TABLE // -->
                                                            <table align="Left" border="0" cellpadding="0" cellspacing="0" width="186" height="186"class="flexibleContainer margin-top-fix margin-right-fix">
                                                                <tr>
                                                                    <td valign="top" class="textContentLast">
                                                                        <img src="{{emailData.selection2.url}}">
                                                                        <div class="caption-holder">
                                                                            <h3>{{emailData.selection2.name}}</h3>
                                                                            <p>{{emailData.selection2.artist}}</p>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <!-- // CONTENT TABLE -->

                                                            <!-- CONTENT TABLE // -->
                                                            <table align="Left" border="0" cellpadding="0" cellspacing="0" width="186" height="186"class="flexibleContainer margin-top-fix">
                                                                <tr>
                                                                    <td valign="top" class="textContentLast">
                                                                       <img src="{{emailData.selection3.url}}">
                                                                        <div class="caption-holder">
                                                                            <h3>{{emailData.selection3.name}}</h3>
                                                                            <p>{{emailData.selection3.artist}}</p>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <!-- // CONTENT TABLE -->


                                                            <!-- CONTENT TABLE // -->
                                                            <table align="Right" border="0" cellpadding="0" cellspacing="0" width="186" height="186"class="flexibleContainer">
                                                                <tr>
                                                                    <td valign="top" class="textContentLast">
                                                                        <img src="{{emailData.selection0.url}}">
                                                                        <div class="caption-holder">
                                                                            <h3>{{emailData.selection0.name}}</h3>
                                                                            <p>{{emailData.selection0.artist}}</p>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <!-- // CONTENT TABLE -->


                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- // FLEXIBLE CONTAINER -->
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // CENTERING TABLE -->
                                </td>
                            </tr>
                            <!-- // MODULE ROW -->

                            <!-- MODULE ROW // -->
                            <tr>
                                <td align="center" valign="top">
                                    <!-- CENTERING TABLE // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td align="center" valign="top">
                                                <!-- FLEXIBLE CONTAINER // -->
                                                <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                                                    <tr>
                                                        <td valign="top" width="600" class="flexibleContainerCell">


                                                            <!-- CONTENT TABLE // -->
                                                            <!--
                                                                In multi-column content blocks, the
                                                                content tables are given set widths
                                                                and the flexibleContainer class.
                                                            -->
                                                            <table align="Left" border="0" cellpadding="0" cellspacing="0" width="384" height="63" class="flexibleContainer margin-top-fix">
                                                                <tr>
                                                                    <td valign="top" class="textContent noBGColor">
                                                                        <div class="bottom-section">
                                                                            <h3>Upcoming Exhibit</h3>
                                                                            <p>Glorious Technicolor: From George Eastman House and Beyond June 5–August 4, 2015</p>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <!-- // CONTENT TABLE -->

                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- // FLEXIBLE CONTAINER -->
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // CENTERING TABLE -->
                                </td>
                            </tr>
                            <!-- // MODULE ROW -->

                        </table>
                        <!-- // EMAIL CONTAINER -->
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>